@import 'constants/colors.scss';

.main {
  display: flex;
  flex: auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 46px;
  .main__data {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
  }
}
