.header {
  display: flex;
  justify-content: center;
  margin: 65px 0 60px;
  @media (max-width: 500px) {
    margin: 32px 0 24px;
  }
  .header__title {
    display: flex;
    flex-direction: column;
    width: 770px;
    line-height: 92px;
    font-size: 102px;
    font-family: Ubuntu-Bold;
    margin: 0;
    @media (max-width: 900px) {
      width: 606px;
      font-size: 80px;
      line-height: 72px;
    }
    @media (max-width: 700px) {
      width: 454px;
      font-size: 60px;
      line-height: 56px;
    }
    @media (max-width: 500px) {
      width: 242px;
      font-size: 32px;
      line-height: 30px;
    }
  }
}

.title {
  &__item_bottom {
    margin-left: auto;
    margin-right: 0;
  }
}
