.header {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  .header__title {
    font-size: 102px;
    font-family: Ubuntu-Bold;
    @media (max-width: 900px) {
      font-size: 80px;
    }
  }
}

.title {
  &__item {
    line-height: 122px;
  }
  &__item_top {
    top: 65px;
  }
  &__item_bottom {
    position: relative;
    top: 95px;
    left: -45px;
  }
}
