@import 'constants/colors.scss';

.section {
  background-color: $baseWeak;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25),
    14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  width: 544px;
  height: 424px;
  padding: 50px 58px;
  &__title {
    color: $baseStrong;
    font-size: 32px;
    font-family: Ubuntu-Bold;
    margin: 0 0 25px;
    line-height: 32px;
  }
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
  }
}
