@import 'constants/colors.scss';

.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $accent;
  color: $baseWeak;
}
.background-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.background-top {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
}
.background-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.wrapper {
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
}
